<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
<div class="container">
	<a href="https://certs.email" class="title">
		certs.email
	</a>
	<br><br>

	Welcome! You've subscribed to certificate monitoring on certs.email.
	<br><br>

	To start monitoring your domains, please confirm your email address:
	<br>

	<a href="{{confirmUrl}}" class="button">
		Confirm email address
	</a>

	<br>
	This link will expire in 7 days.
</div>

<div class="footer">
	You're receiving this email because someone (hopefully you) subscribed to certificate monitoring on
	<a href="https://certs.email">certs.email</a>.
	<br><br>
	If you didn't request this, you can safely ignore this email.
</div>
</body>
</html>
