@import 'tailwindcss';

@theme {
  --font-sans: 'FiraGO', ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

@custom-variant dark (&:where(.dark, .dark *));

@utility container {
  @apply mx-auto max-w-4xl px-4;
}

@layer components {
  article {
    a {
      @apply underline underline-offset-4 decoration-2 decoration-blue-800 hover:text-blue-800 dark:decoration-blue-600 dark:hover:text-blue-600;
    }
  }
}
